@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Controls</h1>
    <ul>
        <li>
            <a href="Tool/TextBox">TextBox</a>
        </li>
        <li>
            <a href="Tool/TextArea">TextArea</a>
        </li>
        <li>
            <a href="Tool/CheckBox">CheckBox</a>
        </li>
        <li>
            <a href="Tool/Radio">Radio</a>
        </li>
        <li>
            <a href="Tool/DropDown">DropDownList</a>
        </li>
        <li>
            <a href="Tool/ListBox">ListBox</a>
        </li>
        <li>
            <a href="Reset/ResetView">Password Reset</a>
        </li>
        <li>
            <a href="Auth/AuthView">Sign up</a>
        </li>
    </ul>
</div>
