@model lab4.Models.Month

@{
    ViewData["Title"] = "ListBox";
}

<h1>ListBox</h1>

<form method="post">
    Text
    <select name="months" multiple>
        @foreach (var item in Model.months)
        {
            <option value="@item">@item</option>
        }
    </select>
    <br>
    <input type="submit" value="Submit" style="border: 0.5px solid rgba(0, 0, 0, 0.56); padding: 4px 12px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: white; margin-top:10px;"/>
</form>