@{
    ViewData["Title"] = "TextArea";
}

<h1>TextArea</h1>

<form method="post">
    Text
    <textarea name="text"></textarea>
    <br>
    <input type="submit" value="Submit" style="border: 0.5px solid rgba(0, 0, 0, 0.56); padding: 4px 12px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: white; margin-top:10px;"/>
</form>